@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .logo_whatsapp{
    width: 150px;
} */

.hero_contenedor{
    background-color: #34B7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_basepadre{
    display: flex;
    flex-direction: row;
    height: 550px;
    margin: 60px;
    background: #fff;
    padding: 0;
    border-radius: 9px;
    overflow: hidden;
}

.contenthero_basepadre{
    width: 100vw;
}

.contenedorhero_basehijo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 550px;
}

.contenedoruno_hijo{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f8f5f1;
    border: #e3e9e1 solid 1px;
    height: 550px;
}

.header_chatList{
    display: flex;
    flex-direction: column;    
    width: 30%;
}

.chatList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    background: #eee;
    padding: 10px 15px;
    width: 100%;
}

.icons_right_chatList{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgb(0, 0, 0);
    gap: 7px;
}

.contenedordos_hijo{
    width: 100%;
    height: 555px;
    background-color: #f8f5f1;
    border: #e3e9e1 solid 1px;
    max-width: 70%;
    height: 550px;
}

.titulo_left{
    display: flex;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedordos_header_padre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    background: #eee;
    width: 100%;
}

.header_message_hijo{
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    height: 80px;
}

.titulo_right{
    font-size: 20px;
    margin: 10px;
    padding-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chatHeader{
    margin: 10px;
}

.chatfoto{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.Maria{
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.content_message{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
}