*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header_message_hijo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 15px;
    background-color: #eee;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.info-group {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.back-arrow-button {
    background: none;
    border: none;
    font-size: 30px; 
    color: #333; 
    cursor: pointer;
    padding: 0;
}

.back-arrow-button:hover {
    color: #128c7e;
}

.chatfoto {
    margin-right: 15px;
}

.contacto_foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
}


.chatHeader {
    flex-grow: 1; 
    display: flex;
    align-items: center;
}

.titulo_right {
    font-size: 18px;
    font-weight: 600;
    color: #1c1e21;
    margin: 0;
    /* Ajuste para el estado de "Cargando..." */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    font-size: 12px;
    color: #667781;
}


.chat_actions {
    display: flex;
    align-items: center;
}

.chat_actions i {
    font-size: 20px;
    color: #54656F;
    margin-left: 25px;
    cursor: pointer;
}

.chat_actions i:hover {
    color: #00A884; 
}