*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .contenedorpadre_List{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.contenedorhijo_List{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */