*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.contenedor-list{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 30px;

}

.contenedor-contactList{
    width: 100%;
}