*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* .logo_whatsapp{
    width: 150px;
} */

.hero{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}

.hero_basepadre{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
}

.contenthero_basepadre{
    width: 100%;
    height: 100%;
}

.contenedorhero_basehijo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.contenedoruno_hijo{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f8f5f1;
    border: #e3e9e1 solid 1px;
    height: 100%;
    width: 30%;
}

.content_chatList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    background-color: #eee;
}

.contenedor_list_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    width: 100%;
    height: 100%;
    background-color: #f8f5f1;
    padding: 10px;
}

.contenedor_HomeScreen{
    width: 100%;
}
.titulo_left{
    font-size: 20px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chatList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #eee;
    padding: 10px 15px;
    width: 100%;
}

/* /* .contenedor-list{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 30px;

} */

.contenedor-contactList{
    width: 100%;
    padding: 10px;
}


.contenedordos_hijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    background-color: #f8f5f1;
    border: #e3e9e1 solid 1px;
    width: 70%;
    scrollbar-width: thin;
    overflow-y: auto;
    height: 100vh;
}

.contectdos_text{
    width: 100%;
    height: 100%;
    text-align: center;
}

.texto-noselect{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
/* 
.contenedordos_header_padre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #eee;
}

.header_message_hijo{
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    height: 80px;
}

.titulo_right{
    font-size: 20px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chatHeader{
    margin: 10px;
}

.chatfoto{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.Maria{
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.content_message{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;
}

.message_list{
    display: flex;
    height: 100vh;
    padding-bottom: 80px;
    flex-grow: 1;
    overflow-y: auto
}

.content_form{
    width: 100px;
    height: 80px;
    flex-shrink: 0; 
}
 */

